 <!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Armaan Library</title>
</head>
<body>
    <nav>
        <div class="brand">
            <div class="brand-mark"></div>
            <div class="brand-name">Armaan Library</div>
        </div>
        <a href="/" class="{{ 'active' if request.path == '/' }}">Home</a>
        <a href="/add-student" class="{{ 'active' if request.path == '/add-student' }}">Add Student</a>
        <a href="/manage-seat" class="{{ 'active' if request.path == '/manage-seat' }}">Manage Seat</a>
        <a href="/check" class="{{ 'active' if request.path == '/check' }}">Check</a>
        <a href="/about" class="{{ 'active' if request.path == '/about' }}">About</a>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>